language: ruby
cache: bundler
sudo: false
rvm: 2.1
exclude: [vendor]
before_script: bundle install --no-deployment
script: script/cibuild
notifications:
  email:
    on_success: never
    on_failure: never
