language: php
php: 5.6
rvm: 2.1
sudo: required
cache:
  directories:
    - _vendor
    - $HOME/.composer/cache
before_install:
  - curl -sS https://getcomposer.org/installer | php
  - mv composer.phar /usr/local/bin/composer
install:
  - bundle install --no-deployment --path _vendor/bundle
  - composer install
before_script: ./_shell/apigen.sh
script: bundle exec jekyll build
branches:
  only:
    - gh-pages
notifications:
  email:
    on_success: never
    on_failure: never
